*{
    padding: 0px;
    margin: 0px;
}

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.one{
    
   box-sizing: border-box;
   border: 1px solid gray;
   border-radius: 20px;
   height: 300px;
   overflow: hidden;
   margin: 50px;
  
 
  
}
.one img{
   width: 100%;
  height: 80%;
 object-fit: cover;
 
    
}

.one p{
    padding: 20px;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    
}
@media(max-width:998px){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width:768px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:600px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}
